#OS X files
.DS_STORE


#(shared) objects
*.o 
*.mod
*.so
*.a

#python bytecode
__pycache__
*.py[oc]

# log from rad models
log

# images can be remade
img/**

# saved numpy arrays (program state)
ndout/** 
